* {
  box-sizing: border-box;
}

#page-container {
  display: grid;
  grid-template-columns: 1fr max(20vw, 300px) 1fr;
  grid-template-rows: 0.8fr 0.1fr;

  height: 100%;
}

#userBoardContainer {
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

#botBoardContainer {
  justify-self: center;
  grid-column: 3/4;
  grid-row: 1/2
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-content: center;
}

.button-container {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;  
  justify-self: center;

}

.ship-container-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
}

.ship-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.ship-container:has(.drop-ship.vertical) {
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.rotate-button {
  width: 100%;
  height: 70px;
}

.drop-ship {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-self: center;
  justify-self: center;

}

.drop-ship.vertical {
  flex-direction: column;
  align-self: center;
}

.ship-cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: blue;
}

.bot-cell.inactive {
  pointer-events: none;
}

.cell {
  border: 1px solid black;
  width: 10%;
  height: 10%;
  background-color: cornflowerblue;
}

.cell:hover {
  cursor: pointer;
  border: 3px solid aquamarine ;
}

.board {
  width: clamp(350px, 30vw, 40vw);
  height: clamp(350px, 30vw, 40vw);

  justify-self: center;
  align-self: center;

  border:3px solid black;
  background-color: transparent;

  display: flex;
  flex-wrap: wrap;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: red;
}

.miss {
  background-color: ghostwhite;
}

.started {
  background-color: greenyellow;
}

.end-screen {
  color: black;

}

.modal-content {
  position: relative;
  left: calc(50vw - 80px);
  bottom: 150px;
  width: fit-content;
}

.modal-reset-button {
  position: relative;
  left: 45px;
}


.greenBackground {
  background-color: rgba(0, 255, 0, 0.8);
}

.redBackground {
  background-color: rgba(255, 0, 0, 0.8);
}